@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  font-size: 1.2rem;
  background-color: cadetblue;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffff;
}
.header {
  background-color: #1d1e20;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}

.menu {
  display: flex;
}

.menu li {
  margin-left: 80px;
}

.menu li a {
  padding: 15px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

h1 {
  background-color: blue;
}
