body {
  font-family: Rubik, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgb(36, 40, 49);
  margin: 0;
}

.card-player {
  width: 80rem;
  height: 30rem;
  background-color: tomato;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px;
}

.card-player .player {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  padding: 10px;
}

.card-player .player .player-superior {
  flex: 1;
  margin-top: 20px;
}

.card-player .player .player-superior .informacoes {
  display: flex;
  justify-content: left;
  margin-left: 30px;
  background-color: bisque;
  height: 90%;
}

.card-player .player .player-superior .informacoes .imagem {
  background-color: rgb(213, 141, 53);
  width: 200px;
  height: 200px;
  margin-top: 3rem;
  border-radius: 20px;
}
.card-player .player .player-superior .informacoes .imagem img {
  background-color: rgb(213, 141, 53);
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.card-player .player .player-superior .informacoes .titulos {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 200px;
  margin-top: 3rem;
  margin-left: 30px;
  background-color: rgb(111, 246, 66);
}
.card-player .player .player-superior .informacoes .titulos .titulo-1 {
  margin-top: 10px;
  color: blue;
  font-size: 25px;
  font-weight: 700;
}

.card-player .player .player-superior .informacoes .titulos .titulo-2 {
  margin-top: 3.3rem;
  color: rgb(123, 123, 134);
  font-size: 20px;
  font-weight: 500;
}
.card-player .player .player-superior .informacoes .titulos .titulo-3 {
  margin-top: 3.63rem;
  font-size: 20px;
  font-weight: 500;
}

.card-player .player .player-superior .barra-tempo {
  margin-left: 30px;
  height: 20px;
  flex: 1;
}

.card-player .player .player-superior .barra-tempo .barra {
  width: 100%;
}

.card-player .player .player-superior .tempo-progresso {
  display: flex;
  justify-content: space-between;
  
}

.card-player .player .player-superior .barra-tempo .barra .tempo-progresso .tempo-inicial{
  width: 10%;
  height: 20px;
  background-color: rgb(131, 146, 146);
}

.card-player .player .player-superior .barra-tempo .barra .tempo-progresso {
  width: 100%;
  height: 20px;
  background-color: aqua;
}

.card-player .player .player-inferior {
  
  flex: 0.15;
  border-radius: 20px;
  margin-left: 30px;
}

.botoes {
  display: flex;
  justify-content: space-around;
  background-color: blueviolet;
  align-items: center;
  width: 100%;
  height: 100%;
  /* borda dois primeiros canto esquerdo superior e infeiro os dois seguinte lado direito superior e inferior */
  border-radius: 0px 0px 20px 20px;
}
